<%= form_for(@desk_geometry) do |f| %>
  <% if @desk_geometry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@desk_geometry.errors.count, "error") %> prohibited this desk_geometry from being saved:</h2>

      <ul>
      <% @desk_geometry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :d_coordinates %><br>
    <%= f.text_field :d_coordinates %>
  </div>
  <div class="field">
    <%= f.label :front_point %><br>
    <%= f.number_field :front_point %>
  </div>
  <div class="field">
    <%= f.label :desk_id %><br>
    <%= f.text_field :desk_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
