<%= form_for(@building_geometry) do |f| %>
  <% if @building_geometry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building_geometry.errors.count, "error") %> prohibited this building_geometry from being saved:</h2>

      <ul>
      <% @building_geometry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :b_coordinates %><br>
    <%= f.text_field :b_coordinates %>
  </div>
  <div class="field">
    <%= f.label :building_id %><br>
    <%= f.text_field :building_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
