<p id="notice"><%= notice %></p>

<p>
  <strong>B coordinates:</strong>
  <%= @building_geometry.b_coordinates %>
</p>

<p>
  <strong>Building:</strong>
  <%= @building_geometry.building %>
</p>

<%= link_to 'Edit', edit_building_geometry_path(@building_geometry) %> |
<%= link_to 'Back', building_geometries_path %>
