<p id="notice"><%= notice %></p>

<h1>Listing Computer Geometries</h1>

<table>
  <thead>
    <tr>
      <th>C coordinates</th>
      <th>Front point</th>
      <th>Computer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @computer_geometries.each do |computer_geometry| %>
      <tr>
        <td><%= computer_geometry.c_coordinates %></td>
        <td><%= computer_geometry.front_point %></td>
        <td><%= computer_geometry.computer %></td>
        <td><%= link_to 'Show', computer_geometry %></td>
        <td><%= link_to 'Edit', edit_computer_geometry_path(computer_geometry) %></td>
        <td><%= link_to 'Destroy', computer_geometry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Computer geometry', new_computer_geometry_path %>
