<p id="notice"><%= notice %></p>

<p>
  <strong>A coordinates:</strong>
  <%= @auditory_geometry.a_coordinates %>
</p>

<p>
  <strong>Auditory:</strong>
  <%= @auditory_geometry.auditory %>
</p>

<%= link_to 'Edit', edit_auditory_geometry_path(@auditory_geometry) %> |
<%= link_to 'Back', auditory_geometries_path %>
